/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/*               _____  _____ _____                     */
/*              /  __ \/  ___/  ___|                    */
/*              | /  \/\ `--.\ `--.                     */
/*              | |     `--. \`--. \                    */
/*              | \__/\/\__/ /\__/ /                    */
/*              \____/\____/\_____/                     */
/*                                                      */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/*


*/
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/*

*/
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/*                   Dependencies                       */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */


*           { margin: 0; }
html, body  { height: 100%; }
html        {
	height:          100%;
  color:           #fff;
	background:      #121212;
	background-size: 100% 100%;
  -webkit-box-sizing:      border-box;
          box-sizing:      border-box;
}
body        {
  position:        relative;
	font-family:     Helvetica, Arial, Sans-Serif;
	font-size:       12px;
	text-transform:  capitalize;
  -webkit-box-sizing:      border-box;
          box-sizing:      border-box;
  overflow-x:      hidden;
}
a       { color: #fff; text-decoration: none; }
a:hover { text-decoration: underline; }

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */


footer {
  display:  block;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}
footer a       {
  display: inline-block;
  margin-right: -4px;
  padding: 1.5em 0.3em;
  vertical-align: middle;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}
footer a:hover { text-decoration: none; }
footer a img   { width: 30px; vertical-align: middle; }

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* Responsive */

@media screen and (max-width: 950px) {
	html 				{ background-size: cover !important; }
	.container .error	{ width: 55% !important; }
}
