/* line 5, C:/Users/Steven/Desktop/spyfluence-server-v1/vendor/assets/stylesheets/pages/search.scss */
.default-style .search-nav.nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06) !important;
}

/* line 9, C:/Users/Steven/Desktop/spyfluence-server-v1/vendor/assets/stylesheets/pages/search.scss */
.material-style .search-nav.nav {
  border: none !important;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06) inset !important;
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06) inset !important;
}
