/* line 9, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default.sw-main,
.sw-theme-default .sw-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
/* line 16, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .sw-container {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
/* line 20, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/* line 23, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor:not(.card) {
  border: 0;
}
/* line 28, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/* line 33, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor li > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem 0 3.75rem;
  min-height: 2.5rem;
  outline: 0 !important;
  border: 0 !important;
  background: transparent !important;
  text-decoration: none;
  font-weight: 500;
  opacity: .4;
  cursor: default;
}
/* line 48, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
[dir=rtl] .sw-theme-default .step-anchor li > a {
  padding-right: 3.75rem;
  padding-left: 2rem;
}
/* line 53, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor li > a small,
.sw-theme-default .step-anchor li > a .small {
  font-weight: normal;
}
/* line 59, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor li.clickable > a,
.sw-theme-default .step-anchor li.active > a,
.sw-theme-default .step-anchor li.done > a {
  opacity: 1;
}
/* line 65, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor li.clickable > a,
.sw-theme-default .step-anchor li.active > a {
  cursor: pointer;
}
/* line 70, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor li.done > a {
  cursor: pointer;
}
/* line 74, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor li.disabled > a,
.sw-theme-default .step-anchor li.disabled > a:hover {
  cursor: not-allowed !important;
}
/* line 79, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .sw-number, .sw-theme-default .sw-icon, .sw-theme-default .sw-done-icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  line-height: calc(2.5rem - 4px);
}
/* line 93, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
[dir=rtl] .sw-theme-default .sw-number,
[dir=rtl] .sw-theme-default .sw-icon,
[dir=rtl] .sw-theme-default .sw-done-icon {
  right: 0;
  left: auto;
}
/* line 99, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .sw-icon,
.sw-theme-default .sw-done-icon {
  font-size: 1rem;
}
/* line 104, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .sw-done-icon {
  display: none;
}
/* line 108, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor li.done .sw-done-icon {
  display: block;
}
/* line 111, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor li.done .sw-done-icon ~ .sw-number,
.sw-theme-default .step-anchor li.done .sw-done-icon ~ .sw-icon {
  display: none;
}
/* line 117, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .wizard-number {
  font-weight: 500;
}
/* line 121, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-anchor li.done .sw-number,
.sw-theme-default .step-anchor li.done .sw-icon,
.sw-theme-default .step-anchor li.done .sw-done-icon {
  opacity: .4;
}
/* line 127, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .step-content {
  position: relative;
  display: none;
  margin: 0;
  width: 100%;
}
/* line 134, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.sw-theme-default .sw-toolbar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

/* line 144, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.default-style .sw-theme-default .step-anchor li > a {
  color: #4E5155;
}
/* line 148, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.default-style .sw-theme-default .step-anchor li.danger > a {
  color: #d9534f !important;
}
/* line 152, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.default-style .sw-theme-default .sw-number,
.default-style .sw-theme-default .sw-icon,
.default-style .sw-theme-default .sw-done-icon {
  border-color: rgba(24, 28, 33, 0.06);
}
/* line 158, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.default-style .sw-theme-default .step-anchor li.danger .sw-number,
.default-style .sw-theme-default .step-anchor li.danger .sw-icon,
.default-style .sw-theme-default .step-anchor li.danger .sw-done-icon {
  border-color: #d9534f !important;
  color: #d9534f !important;
}
@media (min-width: 768px) {
  /* line 167, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .default-style .smartwizard-vertical-left.sw-main,
  .default-style .smartwizard-vertical-right.sw-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /* line 172, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .default-style .smartwizard-vertical-left .step-anchor,
  .default-style .smartwizard-vertical-right .step-anchor {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 177, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .default-style .smartwizard-vertical-left .step-anchor li,
  .default-style .smartwizard-vertical-right .step-anchor li {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  /* line 183, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .default-style .sw-theme-default.smartwizard-vertical-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  /* line 187, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .default-style .sw-theme-default.smartwizard-vertical-right .step-anchor li > a {
    padding: 0 0 0 5.75rem;
  }
  /* line 191, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .default-style .sw-theme-default.smartwizard-vertical-right .sw-number, .default-style .sw-theme-default.smartwizard-vertical-right .sw-icon, .default-style .sw-theme-default.smartwizard-vertical-right .sw-done-icon {
    left: 2rem;
  }
}
@media (min-width: 768px) {
  /* line 202, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .default-style[dir=rtl] .sw-theme-default.smartwizard-vertical-right .step-anchor li > a {
    padding: 0 5.75rem 0 0;
  }
  /* line 206, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .default-style[dir=rtl] .sw-theme-default.smartwizard-vertical-right .sw-number, .default-style[dir=rtl] .sw-theme-default.smartwizard-vertical-right .sw-icon, .default-style[dir=rtl] .sw-theme-default.smartwizard-vertical-right .sw-done-icon {
    right: 2rem;
    left: auto;
  }
}

/* line 221, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.material-style .sw-theme-default .step-anchor li > a {
  color: #4E5155;
}
/* line 225, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.material-style .sw-theme-default .step-anchor li.danger > a {
  color: #d9534f !important;
}
/* line 229, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.material-style .sw-theme-default .sw-number,
.material-style .sw-theme-default .sw-icon,
.material-style .sw-theme-default .sw-done-icon {
  border-color: rgba(24, 28, 33, 0.06);
}
/* line 235, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
.material-style .sw-theme-default .step-anchor li.danger .sw-number,
.material-style .sw-theme-default .step-anchor li.danger .sw-icon,
.material-style .sw-theme-default .step-anchor li.danger .sw-done-icon {
  border-color: #d9534f !important;
  color: #d9534f !important;
}
@media (min-width: 768px) {
  /* line 244, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .material-style .smartwizard-vertical-left.sw-main,
  .material-style .smartwizard-vertical-right.sw-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /* line 249, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .material-style .smartwizard-vertical-left .step-anchor,
  .material-style .smartwizard-vertical-right .step-anchor {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 254, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .material-style .smartwizard-vertical-left .step-anchor li,
  .material-style .smartwizard-vertical-right .step-anchor li {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  /* line 260, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .material-style .sw-theme-default.smartwizard-vertical-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  /* line 264, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .material-style .sw-theme-default.smartwizard-vertical-right .step-anchor li > a {
    padding: 0 0 0 5.75rem;
  }
  /* line 268, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .material-style .sw-theme-default.smartwizard-vertical-right .sw-number, .material-style .sw-theme-default.smartwizard-vertical-right .sw-icon, .material-style .sw-theme-default.smartwizard-vertical-right .sw-done-icon {
    left: 2rem;
  }
}
@media (min-width: 768px) {
  /* line 279, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .material-style[dir=rtl] .sw-theme-default.smartwizard-vertical-right .step-anchor li > a {
    padding: 0 5.75rem 0 0;
  }
  /* line 283, C:/Users/Steven/Desktop/spyfluence/vendor/assets/libs/smartwizard/smartwizard.scss */
  .material-style[dir=rtl] .sw-theme-default.smartwizard-vertical-right .sw-number, .material-style[dir=rtl] .sw-theme-default.smartwizard-vertical-right .sw-icon, .material-style[dir=rtl] .sw-theme-default.smartwizard-vertical-right .sw-done-icon {
    right: 2rem;
    left: auto;
  }
}
