<% content_for :styles do %>
    <%= stylesheet_link_tag 'pages/profiles.css', media: 'all' %>
<% end %> 
 
<div id="pricing" style="margin-top:5%; margin-bottom:3.5%" class="landing-block container px-3">
    <h1 class="text-center font-weight-bolder pt-5">
      PAY ONLY FOR WHAT YOU NEED
    </h1>

    <div class="row no-gutters row-bordered text-center pt-4">

      <div class="d-flex col-md flex-column py-4">
        <h4 class="m-0">Spyfluence</h4>
        <div class="flex-grow-1">
          <div class="py-4 my-2">
            <span class="d-inline-block text-muted text-big align-middle mr-2">$</span>
            <span class="display-3 d-inline-block font-weight-bold align-middle">0.10</span>
            <span class="d-inline-block text-muted text-big align-middle ml-2">/ 100 profiles</span>
          </div>
          <div class="pb-5">
            <ul class="price">
              <li class="plus">Flexible: Flat $9 base fee per report plus an additional 0.1 cent per profile</li>
              <li class="plus">No need to connect your personal Instagram account</li>
              <li class="plus">Audience limit of < 250,000 followers/following</li>
              <li class="plus">Get up to 20,000+ results/day</li>
             </ul>
          </div>
        </div>
      </div>

      <div class="d-flex col-md flex-column py-4">
        <h4 class="m-0">Leading Competitors</h4>
        <div class="flex-grow-1">
          <div class="py-4 my-2">
            <span class="d-inline-block text-muted text-big align-middle mr-2">$</span>
            <span class="display-3 d-inline-block font-weight-bold align-middle">1.00</span>
            <span class="d-inline-block text-muted text-big align-middle ml-2">/ 100 profiles</span>
          </div>
          <div class="pb-5">
            <ul class="price">
              <li class="minus">Unflexible: Force a flat fee (i.e. $100 for ANY amount of results < 10,000)</li>
              <li class="minus">Must connect your personal Instagram account</li>
              <li class="minus">Audience limit of < 100,000 followers/following</li>
              <li class="minus">Limited to < 10,000 results/day</li>
            </ul>  
          </div>
        </div>
      </div>
    </div>

  
  </div>