/* line 1, C:/Users/Steven/Desktop/spyfluence-server-v1/vendor/assets/libs/morris/morris.scss */
.morris-hover {
  position: absolute;
  z-index: 1000;
}

/* line 6, C:/Users/Steven/Desktop/spyfluence-server-v1/vendor/assets/libs/morris/morris.scss */
.morris-default-style {
  text-align: center;
}

/* line 10, C:/Users/Steven/Desktop/spyfluence-server-v1/vendor/assets/libs/morris/morris.scss */
.morris-default-style .morris-hover-row-label {
  font-weight: bold;
}

/* line 14, C:/Users/Steven/Desktop/spyfluence-server-v1/vendor/assets/libs/morris/morris.scss */
.morris-default-style .morris-hover-point {
  white-space: nowrap;
  font-size: .6875rem;
}

/* line 22, C:/Users/Steven/Desktop/spyfluence-server-v1/vendor/assets/libs/morris/morris.scss */
.default-style .morris-default-style {
  padding: 0.25rem 0.5rem;
  background-color: #46494d;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}
/* line 30, C:/Users/Steven/Desktop/spyfluence-server-v1/vendor/assets/libs/morris/morris.scss */
.default-style .morris-default-style .morris-hover-row-label {
  margin: 0.25rem 0;
  color: #fff;
  font-weight: bold;
}

/* line 40, C:/Users/Steven/Desktop/spyfluence-server-v1/vendor/assets/libs/morris/morris.scss */
.material-style .morris-default-style {
  padding: 0.25rem 0.5rem;
  background-color: #46494d;
  font-size: 0.75rem;
  border-radius: 0.125rem;
}
/* line 48, C:/Users/Steven/Desktop/spyfluence-server-v1/vendor/assets/libs/morris/morris.scss */
.material-style .morris-default-style .morris-hover-row-label {
  margin: 0.25rem 0;
  color: #fff;
  font-weight: bold;
}
