<!-- Navbar -->
<nav class="landing-navbar navbar navbar-expand-lg navbar-light fixed-top pt-lg-4" style="background-color: white">
<div class="container-fluid px-3">
    <%= image_tag "logo.png", class: "img-fluid cursor-pointer" %> 
    <a href="/" class="navbar-brand text-big font-weight-bolder line-height-1 text-expanded py-3" style="color:black !important; font-size:200% !important;"> SPYFLUENCE</a>
    <div class="collapse navbar-collapse" id="landing-navbar-collapse">
    <div class="navbar-nav align-items-lg-center ml-auto">
        <a class="anchor-link nav-item nav-link" href="/#features">Features</a>
        <a class="anchor-link nav-item nav-link" href="/demo">Demo</a>
        <a class="anchor-link nav-item nav-link" href="/pricing">Pricing</a>
        <a class="anchor-link nav-item nav-link" href="/users/sign_in">Sign in</a>
        <div class="nav-item py-3 py-lg-0 ml-lg-4">
        <a href="/users/sign_up" class="anchor-link btn btn-primary btn-round text-expanded"><small>SIGN UP</small></a>
        </div>
    </div>
    </div>
</div>
</nav>
<!-- / Navbar -->